body {
    font-family: sans-serif;
}
.header, .footer{
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    color: #F9FAF8;
    padding: 20px;
}
/* navbar info */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
  font-size: 24px;  
}
ul {
    display: flex;
    list-style: none;
    gap: 16px;
}
a, .secondary {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}
/* content under header */
.content {
    display: flex;

    align-items: center;
    justify-content: center;
    gap: 32px;
}

.left {
    max-width: 900px;
}
.main {
    font-size: 48px;
    font-weight: bolder;
}

.content button {
    background-color: #3882F6;
    padding: 8px 16px;
    border-radius: 8px;
    
}

.content img {
    width: 400px;
}

/* panel with four images */

.info {
    padding: 100px;
}
.title {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2936;
    margin-bottom: 50px;
}

.panels {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.panel {
    width: 150px;
}

.symbol {
    width: 150px;
    height: 150px;
    border: 5px #3882F6 solid;
    background-color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    border-radius: 25px;
}

/* quotation section of page */
.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:  100px 150px;
    color: #1f2937;
}

.text { 
    font-size: 36px;
    font-style: italic;
    font-weight: ligher;
}

.credit {
    align-self: flex-end;
    font-size: 25px;
    font-weight: bold;
}

/* sign up section */

.sign {
    background-color: #3882F6;
    display: flex;
    justify-content: center;
    justify-content: center;
    margin: 50px auto;
    width: 900px;
    border-radius: 10px;
    gap: 100px;
    color: #E5E7EB;
}


.sign button {
    display: flex;
    height: fit-content;
    align-self: center;
    background-color: #3882F6;
    padding: 8px 25px;
    border-radius: 8px;
    color: #E5E7EB;
    border: 1px solid #E5E7EB;
}
/* footer section */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}